header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 5%;
    background-color: transparent;
}

.logo {
    background-image: url(../../../assets/img/titan_x.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    width: 200px;
    height: 100px;
    border-radius: 200px;
    margin-right: auto;
}

.nav_links {
    list-style: none;
    display: flex;
}

.nav_links a {
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}

.nav_links li {
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #FF2800;
}
